$app-background: #154cdf;
$secondary-background: #335ed1;
$light-blue-background: #57a3ff;

$text-primary-color:#28323d;
$text-hover-color: #7a869a;
$text-secondary-color: #7a869a;

$border-primary-color: #eaeaea;
$border-secondary-color: #eaeaea;

$accent-error-color: #be1338;

$button-primary-background: #be1338;
